* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #00343d; /*midnight teal */
    --secondary-color: #faf5e0; /*creamy rellow */
    --accent1-color: #a8c2bd; /*cascade */
    --accent2-color: #653624; /*soft cider */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body--font: "Arial", "Helvetica", sans-serif;
}
main {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    background-color: var(--primary-color);

}

body {
    font-family: var(--body--font);
    color: var(--primary-color);

}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px;
    justify-items: center;
    list-style-type: none;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: medium;

}
nav:hover{
    color: var(--accent2-color);
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 30px;
    grid-template-columns: auto;
}

header {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    display: flex; 
    padding: 20px 0;
    text-decoration: none;
    justify-content: space-between;
}
header img {
    padding-left: 30px;

}


h1, h2{
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;
    opacity: 0.8;


}


nav, p, section, article {
    margin: 16px;
    padding: 8px;

 
}
article {
    display: flex;
    position: absolute;
    top: 450px;
    padding: 10px;
    margin: 30px;
    background-color: var(--accent2-color);
    opacity: 0.8;
}
article img {
    position: relative;
    float: left;
    right: 0px;
    padding-left: 25px;
}
article p{
    padding-top: 15px;
    font-family: var(--body--font);
    font-size: large;
    position: relative;
    height: 100px;
    margin: 10px;
    padding-right: 200px;
    color: var(--secondary-color);
}

.socialmedia a {
    text-decoration: none;
    position: relative;
}

.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
}
.hero article {
    position: absolute;
}
.hero h1 {
    position: absolute;
    top: 20px;
    padding-left: 75px;
    width:auto;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;

}

.hero article img {
    float: right;
    width: 150px;
    position: absolute;
    border: 1px var(--secondary-color); 
    padding: 2px;

}


.section-one{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--accent1-color);
    gap: 20px;
}
.title-one {

    position: absolute;
    grid-column: 2;
    color: var(--accent2-color);

}
.one img {

    grid-column: 2;
}
.one p {
    grid-template-columns: 1fr 1fr 1fr;    
    grid-column: 1;
    color: var(--accent1-color);
}
.one {
    display: grid;
    height: auto;
    padding: 1rem;
    padding-top: 2rem;
    grid-template-rows: 50px;
}
.section-two {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.title-two {
    align-self: flex-start;
    position: absolute;

}
.two {
    display: flex;
    width: 100px;
    height: 200px;
    margin: auto;
    justify-content: space-evenly;
    align-items: stretch;

}
figure {
    border: thin sienna solid;
    display: flex;
    flex-flow: column;
    max-width: 220px;
    max-height: 150px;
    padding: 5px;
    margin: auto;
    align-self: flex-start;
    


}
figure img {
    max-width: 210px;
    max-height: 150px;

}
figcaption {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    font-size: smaller;
    padding: 3px;
    text-align: center;
}
.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}
.socialmedia nav:hover {
    color: var(--accent2-color)
}


footer img {
    position: relative;
    width: 40px;



}

